html,
body,
#mapDiv {
    height: 100%
}

html,
body,
#filter input,
#filter button {
    margin: 0;
    padding: 0;
}
tr {
    cursor: pointer;
}

tr:hover {
    text-decoration: underline;
    color: #fff;
}

.flickr_test {
    margin: 10px;
    border: 2px solid;
}

#search {
    position: absolute;
    z-index: 2;
    top: 65px;
    left: 20px;
    max-width: 250px;
    background-color: rgba(40, 40, 40, .85);
    border-radius: 8px;
}

#search input {
    height: 25px;
    margin: 20px;
}

#search table {
    margin: 0 20px 0 20px;
}

#search td {
    padding-bottom: 15px;
    color: #fff;
}

#hideList {
    position: absolute;
    z-index: 2;
    top: 8px;
    left: 20px;
    letter-spacing: .5px;
    border: none;
    padding: 14px;
    background-color: rgb(40, 40, 40);
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.photo {
    border: 3px solid black;
}